*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.section-container{
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.background{
    background-image: url(../assets/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.pbackground{
    background-image: url(../assets/pbg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.paragraph-1 {
    font-size: x-large;
    color: #ff6600;
    text-align: center;
}

.paragraph-2 {
    font-size: x-large;
    color: #fff;
    text-align: center;
}

.paragraph-3 {
    font-size: large;
    color: #fff;
    text-align: center;
}

.celulares{
    display: flex;
    flex-direction: row;
}

.ctext {
    text-align: center;
}

.card-container{
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    max-width: 450px;
    margin: auto;
}

input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 12px;
    background: #000;
    color: #fff;
}

form{
    display: grid;
}

footer{
    padding: 25px;
    text-align: center;
    background-color: #000;
    color: #fff;
}